<%- include('../partials/header') %>

<h2>What are the card games</h2>
  <p><img class="pic" src="images/clippersLogo.jpg" /></p>
  augh or Dare: Participants must answer the card and tell it in the funniest way they can. If everyone laughs then they are safe but if they don't they will get dared by the group.</p>

<p>Cosmic Connection: This Will consist of participants who may be romantically interested in one another. Cosmic connections will break the public facade and get down to the deep intimate questions we all yearn for from a significant other. Cards in this deck will be questions used as ice breakers for new relationships and first dates.
</p>
<p>Unpopular Opinion: Pick cards from this deck to share your views on modern-day pop culture controversies. Have a friendly debate on your unpopular opinion.</p>
  
<!--       <h2>About Me</h2>
  	<h5>Photo of me:</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
  	<h3 class="mt-4">Some Links</h3>
  	<p>Lorem ipsum dolor sit ame.</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link active" href="#">Active</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="#">Link</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="#">Link</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link disabled" href="#">Disabled</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2><%=title%></h2>
  	<h5>Title description, Dec 7, 2020</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text..</p>
  	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

  	<h2 class="mt-5">TITLE HEADING</h2>
  	<h5>Title description, Sep 2, 2020</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text..</p>
  	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> -->

<%- include('../partials/footer') %>